<ion-view style="" title="Post By me">
    <ion-content class="has-header" padding="true">
        <div style="" class="list card">
            <div class="item item-avatar">
                <img src="">
                <h2>Ranjeet Kumar</h2>
                <p>5 hours ago</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="delorean.jpg">
                <p>@Software Deveoper @Mumbai</p>
                <p>
                    <a href="#" class="subdued">1000</a>
                    <a href="/#/postbyme/post" class="subdued">Buyer's List</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item" href="#">
                    10 commits
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    60/100
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
