<ion-view style="" title="Requirements">
    <ion-content class="has-header has-footer" padding="true">
        <form style="" class="list">
            <label style="" name="search" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Search Requirements" type="search">
            </label>
        </form>
        <a style="" class="button button-stable button-outline button-block " href="#/app/requirements/newPost">Post a Requirement</a>
        <div style="" class="list card">
            <div class="item item-avatar">
                <img src="">
                <h2>Ranjeet Kumar</h2>
                <p>5 hours ago</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="delorean.jpg">
                <p>@Software Deveoper @Mumbai</p>
                <p>
                    <a href="#" class="subdued">1000</a>
                    <a href="#" class="subdued">Buy</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    Report
                </a>
                <a class="tab-item" href="#">

                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    60/100
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
