<ion-view>
    <ion-content padding="true">
        <div class="!isAuthenticated()">
          <div style="" class="button-bar"></div>
          <img src="img/fyipe_logo.png" style="padding: 10px; padding-bottom:20px; margin-left:auto; margin-right:auto; display:block;" />
          <form ng-submit="login(lemail, lpassword)">
              <label style="" class="item item-input">
                  <input placeholder="Email" type="email" ng-model="lemail">
              </label>
              <label style="" class="item item-input">
                  <input placeholder="Password" type="password" ng-model="lpassword">
              </label>
              <button style="" class="button button-stable button-balanced button-block" type="submit">Login</button>
          </form>
          <div style="" class="button-bar">
              <button style="color:white;background-color:#3b5998"  class="button button-block  icon-left ion-social-facebook" ng-click="authenticate('facebook')">Facebook</button>
              <button style="color:white;background-color:#dd4b39" class="button button-block  icon-left ion-social-googleplus" ng-click="authenticate('google')">Google</button>
          </div>
          <div style="" class="button-bar">
              <button style="color:white;background-color:#007bb5" class="button button-block  icon-left ion-social-linkedin" ng-click="authenticate('linkedin')">LinkedIn</button>
              <button style="color:white;background-color:#00aced" class="button button-block  icon-left ion-social-twitter" ng-click="authenticate('twitter')">Twitter</button>
          </div>
          <div style="text-align:center;">
            <a style="text-decoration:none;" href="#/app/signup">Sign up now!</a>
          </div>
        </div>
    </ion-content>
</ion-view>
