<script id="reportModal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Report this Post</h1>
    </ion-header-bar>
    <ion-content>
      <div>
        <label class="item item-input">
          <input type="text" ng-model="comment" placeholder="Add a comment">
        </label>
       <label class="item">
          <button class="button button-block button-positive" type="button">Report</button>
          <button class="button button-block button-light" type="button">Cancel</button>
        </label>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<script id="userModal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Profile</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a class="item item-thumbnail-left" href="#">
          <img ng-src="{{profilePic}}">
          <h2>{{userName}}</h2>
          <h3>{{phone}}</h3>
          <h3>{{profession}}</h3>
          <h3>{{location}}</h3>
        </a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<ion-view style="" title="Requirements">
    <ion-content class="has-header has-footer" padding="true">
        <form style="" class="list">
            <label style="" name="search" class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input placeholder="Search Requirements" type="search">
            </label>
        </form>
        <a style="" class="button button-stable button-outline button-block " href="#/app/newpost">Post a Requirement</a>
        <div style="" class="list card" ng-repeat="post in feedFromDB">
            <div class="item item-avatar" ng-click="openModal('user', post)">
              <img ng-src="{{post.document.user.document.picture || defaultPicture }}">
              <h2 style="color:#0073e6; font-weight:600;">{{post.document.user.document.displayName || defaultName }} <span style="font-size:12px; background: #00a352 none repeat scroll 0 0; color:#fff; padding:2px; padding-left:6px; padding-right:6px; border-radius:3px;"><strong>{{post.document.rate}}</strong></span></h2>
              <p data-livestamp="{{timeConversion(post.document.createdAt)}}"></p>
            </div>
            <div class="item item-body">
              <img ng-if="post.document.image" class="full-image" ng-src="{{post.document.image}}" >
              <p>{{ post.document.information }}</p>
              <div class="row">
                <div class="col-33">
                  <a href="#" class="subdued" ng-show="post.document.price"><strong>&#8377;{{ post.document.price }}</strong></a>
                  <a href="#" class="subdued" ng-show="post.document.free"><strong>Free</strong></a>
                </div>
                <div class="col-33" >
                  <ion-spinner ng-show="post.committing"></ion-spinner>
                </div>
                <div class="col-33" ng-show="post.document.price && !post.document.soldToUser && !post.committing">
                  <button href="#" class="button-small button-block button-positive" ng-disabled="post.document.user.document._id === user.document._id || post.commitButton" ng-click="commit($index)">
                    <span ng-hide="post.commitButton"><strong>Commit</strong></span>
  									<span ng-show="post.commitButton"><strong>Committed</strong></span>
                  </button>
                </div>
              </div>
              <p>
                <div ng-if="post.document.soldToUser">
                    <hr/>
                    <div class="row">
                      <span class="col"><strong style="color:#555;">Contact:&nbsp;</strong><span class="text-success">{{post.document.user.document.phone}}</span></span>
                      <span class="col"><strong style="color:#555;">Email:&nbsp;</strong><span class="text-success">{{post.document.user.document.email}}</span></span>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button class="button-light  button-small button-block" style="cursor:pointer;" title="chat" ng-click="startChat(post.document.user.document._id)"><strong><i class="ion-chatboxes"></i></strong></button>
                      </div>
                      <div class="col">
                        <button ng-show="ownIt[post.document._id].document.dealStatus=='pending'" class="cbutton-light  button-small button-block" style="cursor:pointer;" title="close deal" ng-click="dealClose(post.document._id, $index,post)"><strong><i class="ion-checkmark-circled"></i></strong></button>
                      </div>
                      <div class="col">
                        <button ng-show="ownIt[post.document._id].document.dealStatus=='pending'" class="button-light  button-small button-block" style="cursor:pointer;" title="pass deal" ng-click="refund(post.document._id, $index, post)"><strong><i class="ion-close-circled"></i></strong></button>
                      </div>
                      <div class="col">
                        <span ng-show="ownIt[post.document._id].document.dealStatus=='close'" class="text-primary"><strong>You Have Bought This Deal</strong></span>
                      </div>
                      <div class="col">
                        <span class="col" ng-show="dealOperation[$index]"><ion-spinner></ion-spinner></span>
                      </div>
                    </div>
                  </div>
              </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href ng-click="openModal('report')">
                    Report
                </a>
                <a class="tab-item" href="#">

                </a>
                <span class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    {{post.seenby}}/{{post.sentto}}
                </span>
            </div>
        </div>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
